* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;

  line-height: 1;
  font-weight: 400;
  color: #555;
  background: linear-gradient(180deg, #b3d0e9, #55a0e3);
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-icon {
  z-index: 999;
  cursor: pointer;
  height: 100px;
  width: 100px;
  color: white;
  margin-bottom: 20px;
}

.search-container {
  opacity: 0;
  transform: translateY(300px);
  transition: all 2s ease;
}
.container.active .search-container {
  opacity: 1;
  transform: translateY(0);
}
.search-input {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 25px 0 0 25px;
}

.search-button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  padding: 16px 20px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.weather-container {
  background-color: #fff;
  min-width: 500px;
  min-height: 600px;
  border-radius: 10px;
  padding: 20px 30px;
}
.location {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.location-description {
  font-size: 16px;
}
.location-data {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 120px;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.temperature,
.humidity,
.pressure,
.wind {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  align-items: center;
}
.data-icon {
  width: 36px;
  height: 36px;
}
.data {
  margin-top: 20px;
  font-size: 24px;
}
